<%- include ('partials/head.ejs'); %>

    <body>
        <%- include ('partials/navbar.ejs'); %>
            <div class="container">
                <h1>
                    <%=pergunta.titulo%>
                </h1>
                <hr>
                <h3>
                    <%=pergunta.descricao%>
                </h3>
                <br>
                <form method="POST" action="/responderPergunta">
                    <label>Responda:</label>
                    <textarea name="corpo" class="form-control"></textarea>
                    <br>
                    <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                    <button class="btn btn-success">Responder</button>
                </form>
                <hr>
                <h3>Respostas</h3>
                <hr>
                <% respostas.forEach(respostas=> { %>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <%= respostas.corpo %>
                        </div>
                    </div>
                    <% }) %>
            </div>
    </body>

    <%- include ('partials/footer.ejs'); %>